<center>
<h1>New Hike</h1>
<p>Have you done a cool hike that isn't on our website? Tell us about it!</p>
</center>
<div class="container">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="location">Area</label>
      {{input value=location id="location" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="distance">Roundtrip distance</label>
      {{input value=distance id="distance" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="difficulty">Level of difficulty</label>
      {{input value=difficulty id="difficulty" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      {{input value=image id="image" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      {{textarea value=description id="description" rows="5" class="form-control"}}
    </div>

    <center>
    <button class="btn btn-warning"{{action 'save'}}>Submit</button>
    </center>
  </form>
</div>
