{{yield}}
<div class="col-md-10 col-md-offset-1">
   <div class="trail-header">
     {{trail.name}}
   </div>
   <br>
   <div class="trail-details">
     <li>Area: {{trail.location}}</li>
     <li>{{trail.distance}}</li>
     <li>Level of Difficulty: {{trail.difficulty}}</li>
     <li>Average User Rating: {{averageRating}}/5</li>
   </div>
   <br>
   <div class="trail-description">
     {{trail.description}}
   </div>
   <p class="trail-image-wrapper">
      <img class="trail-image-big" src="{{trail.image}}">
   </p>
   <center>
   {{google-map trail=trail}}
   </center>
   <hr>
   <h3>Reviews</h3>
   {{#each trail.reviews as |review|}}
     {{review-tile review=review}}
   {{/each}}
   <hr>
   <h3>Leave a Review</h3>
   {{create-review trail=trail saveReview="saveReview"}}
</div>
