{{outlet}}
<div class="col-md-10 col-md-offset-1">
   <div class="trail-header">
     {{model.name}}
   </div>
   <br>
   <div class="trail-details">
     <li>Area: {{model.location}}</li>
     <li>{{model.distance}}</li>
     <li>Level of Difficulty: {{model.difficulty}}</li>
   </div>
   <br>
   <div class="trail-description">
     {{model.description}}
   </div>
   <p class="trail-image-wrapper">
      <img class="trail-image-big" src="{{model.image}}">
   </p>
   {{#each model.reviews as |review|}}
     {{review-tile review=review}}
   {{/each}}
   <hr>
   <h3>Leave a Review</h3>
   {{create-review trail=model saveReview="saveReview"}}
</div>
