{{outlet}}

<div class="trail-header">
  {{model.name}}
</div>
<br>
<div class="trail-details">
  <li>Area: {{model.location}}</li>
  <li>{{model.distance}}</li>
  <li>Level of Difficulty: {{model.difficulty}}</li>
</div>
<br>
<div class="trail-description">
  {{model.description}}
</div>
